In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load your dataset
df_chicago = pd.read_csv('~/desktop/Project_7/Chicago.csv')
df_san_diego = pd.read_csv('~/desktop/Project_7/San Diego.csv')
df_san_francisco = pd.read_csv('~/desktop/Project_7/San Francisco.csv')
df_new_york = pd.read_csv('~/desktop/Project_7/New York.csv')
df_los_angeles = pd.read_csv('~/desktop/Project_7/Los Angeles.csv')

In [3]:
df_combined = pd.concat([df_chicago, df_los_angeles, df_new_york, df_san_diego, df_san_francisco], ignore_index=True)

In [24]:

# Create a list of rating groups based on food type
rating_groups = []
for name, group in df_combined.groupby('food_type'):
    rating_groups.append(group['rating'].values)  # Append ratings for each food type

# Perform the ANOVA test
anova_results = stats.f_oneway(*rating_groups)  # Unpack the list for the test

# Print the results in a simple format
print('ANOVA Test Results:')
print(f'F-statistic: {anova_results.statistic:.4f}')
print(f'P-value: {anova_results.pvalue:}')

ANOVA Test Results:
F-statistic: 2.5140
P-value: 1.7893824507461079e-16

In [35]:
# Create a list of rating groups based on ambience levels
ambience_groups = []
for name, group in df_combined.groupby('ambience'):
    ambience_groups.append(group['rating'].values)  # Append ratings for each ambience level

# Perform the ANOVA test
anova_results = stats.f_oneway(*ambience_groups)  # Unpack the list for the test

# Print the results in a simple format
print('ANOVA Test Results for Ratings Based on Ambience:')
print(f'F-statistic: {anova_results.statistic:.4f}')
print(f'P-value: {anova_results.pvalue:.2f}')

ANOVA Test Results for Ratings Based on Ambience:
F-statistic: 141.9196
P-value: 0.00

In [9]:
# ANOVA for Ratings Based on Food Type with Specific Categories
filtered_data = df_combined[df_combined['food_type'].isin(['Steakhouse', 'Mexican'])]

anova_results = stats.f_oneway(
    *[group['rating'].values for name, group in filtered_data.groupby('food_type')]
)

f_statistic = anova_results.statistic
p_value = anova_results.pvalue

print(f'Example 5 - F-statistic: {f_statistic:.4f}, p-value: {p_value:.4f}')

Example 5 - F-statistic: 10.1935, p-value: 0.0017

In [10]:
# ANOVA for Ratings Based on Coupon Availability
anova_results = stats.f_oneway(
    *[group['rating'].values for name, group in df_combined.groupby('coupon')]
)

f_statistic = anova_results.statistic
p_value = anova_results.pvalue

print(f'Example 2 - F-statistic: {f_statistic:.4f}, p-value: {p_value}')

Example 2 - F-statistic: 37.2537, p-value: 1.318109554608294e-16

In [11]:
# ANOVA for Ratings Based on Food Types
anova_results = stats.f_oneway(
    *[group['rating'].values for name, group in df_combined.groupby('food_type')]
)

f_statistic = anova_results.statistic
p_value = anova_results.pvalue

print(f'Example 4 - F-statistic: {f_statistic:.4f}, p-value: {p_value:.4f}')

Example 4 - F-statistic: 2.5140, p-value: 0.0000

In [33]:
# Example 1: ANOVA for Service and Ambience on Value
model1 = ols('value ~ C(service) + C(ambience)', data=filtered_df).fit()
anova_table1 = sm.stats.anova_lm(model1, typ=2)
print("\nExample 1 ANOVA Table:")
print(anova_table1)

Example 1 ANOVA Table:
                 sum_sq      df          F        PR(>F)
C(service)    26.046130    12.0  30.369555  7.145581e-64
C(ambience)    7.514995    11.0   9.559000  5.936407e-17
Residual     127.002115  1777.0        NaN           NaN

In [34]:
# Example 2: ANOVA for Food Type and Service on Rating
model2 = ols('rating ~ C(food_type) + C(service)', data=filtered_df).fit()
anova_table2 = sm.stats.anova_lm(model2, typ=2)
print("\nExample 2 ANOVA Table:")
print(anova_table2)

Example 2 ANOVA Table:
                 sum_sq      df           F        PR(>F)
C(food_type)   2.986465   123.0    1.805426  4.589348e-07
C(service)    53.960718    12.0  334.367272  0.000000e+00
Residual      22.391694  1665.0         NaN           NaN

In [35]:
# Example 3: ANOVA for Ambience and Value on Number of Reviews
model3 = ols('number_of_reviews ~ C(ambience) + C(value)', data=filtered_df).fit()
anova_table3 = sm.stats.anova_lm(model3, typ=2)
print("\nExample 3 ANOVA Table:")
print(anova_table3)

Example 3 ANOVA Table:
                   sum_sq      df         F        PR(>F)
C(ambience)  3.559376e+08    11.0  7.199231  4.177373e-12
C(value)     2.427187e+08    29.0  1.862131  3.599364e-03
Residual     7.910568e+09  1760.0       NaN           NaN

In [36]:
# Example 4: ANOVA for Service and Food Type on Value
model4 = ols('value ~ C(service) + C(food_type)', data=filtered_df).fit()
anova_table4 = sm.stats.anova_lm(model4, typ=2)
print("\nExample 4 ANOVA Table:")
print(anova_table4)

Example 4 ANOVA Table:
                  sum_sq      df          F         PR(>F)
C(service)     67.596770    12.0  84.196033  8.974047e-162
C(food_type)   23.121697   123.0   2.809710   3.512068e-20
Residual      111.395413  1665.0        NaN            NaN

In [37]:
# Example 5: ANOVA for Ambience and Food Type on Rating
model5 = ols('rating ~ C(ambience) + C(food_type)', data=filtered_df).fit()
anova_table5 = sm.stats.anova_lm(model5, typ=2)
print("\nExample 5 ANOVA Table:")
print(anova_table5)

Example 5 ANOVA Table:
                 sum_sq      df           F         PR(>F)
C(ambience)   42.939038    11.0  194.632021  2.196436e-289
C(food_type)   7.715504   123.0    3.127619   7.367369e-25
Residual      33.413374  1666.0         NaN            NaN

In [38]:
# Example 5: ANOVA for Service, Ambience, and Coupon on Value
model5 = ols('value ~ C(service) + C(ambience) + C(coupon)', data=filtered_df).fit()
anova_table5 = sm.stats.anova_lm(model5, typ=2)
print("\nExample 5 ANOVA Table (Service, Ambience, and Coupon on Value):")
print(anova_table5)

Example 5 ANOVA Table (Service, Ambience, and Coupon on Value):
                 sum_sq      df          F        PR(>F)
C(service)    25.469349    12.0  31.449037  3.947985e-66
C(ambience)    9.148411    11.0  12.323207  1.114217e-22
C(coupon)      7.210173     2.0  53.417855  2.966734e-23
Residual     119.791942  1775.0        NaN           NaN

In [40]:
# Example 1: ANOVA for Service and Ambience on Value
model1 = ols('value ~ C(service) + C(ambience)', data=df_chicago).fit()
anova_table1 = sm.stats.anova_lm(model1, typ=2)
print("\nChicago - Example 1 ANOVA Table (Service and Ambience on Value):")
print(anova_table1)

Chicago - Example 1 ANOVA Table (Service and Ambience on Value):
                sum_sq     df         F        PR(>F)
C(service)   11.769826   16.0  7.372607  2.069886e-14
C(ambience)  11.949755   18.0  6.653613  6.687553e-14
Residual     28.735681  288.0       NaN           NaN

In [41]:
# Example 2: ANOVA for Service and Ambience on Number of Reviews
model2 = ols('number_of_reviews ~ C(service) + C(ambience)', data=df_chicago).fit()
anova_table2 = sm.stats.anova_lm(model2, typ=2)
print("\nChicago - Example 2 ANOVA Table (Service and Ambience on Number of Reviews):")
print(anova_table2)

Chicago - Example 2 ANOVA Table (Service and Ambience on Number of Reviews):
                   sum_sq     df         F    PR(>F)
C(service)   3.630226e+07   16.0  0.540500  0.924258
C(ambience)  3.094509e+07   18.0  0.409544  0.985419
Residual     1.208957e+09  288.0       NaN       NaN

In [42]:
# Example 5: ANOVA for Service and Ambience on Value
model5 = ols('value ~ C(service) + C(ambience)', data=df_new_york).fit()
anova_table5 = sm.stats.anova_lm(model5, typ=2)
print("\nNew York - Example 5 ANOVA Table (Service and Ambience on Value):")
print(anova_table5)

New York - Example 5 ANOVA Table (Service and Ambience on Value):
               sum_sq     df          F        PR(>F)
C(service)   5.622045   12.0  14.383200  1.062706e-23
C(ambience)  0.726016   11.0   2.026264  2.577589e-02
Residual     9.869613  303.0        NaN           NaN

In [43]:
# Example 8: ANOVA for Service and Ambience on Number of Reviews
model8 = ols('number_of_reviews ~ C(service) + C(ambience)', data=df_san_diego).fit()
anova_table8 = sm.stats.anova_lm(model8, typ=2)
print("\nSan Diego - Example 8 ANOVA Table (Service and Ambience on Number of Reviews):")
print(anova_table8)

San Diego - Example 8 ANOVA Table (Service and Ambience on Number of Reviews):
                   sum_sq     df         F    PR(>F)
C(service)   5.022096e+07   15.0  1.251098  0.234949
C(ambience)  1.083611e+08   17.0  2.381892  0.002079
Residual     6.288838e+08  235.0       NaN       NaN

In [44]:
# Example 9: ANOVA for Service and Ambience on Value
model9 = ols('value ~ C(service) + C(ambience)', data=df_san_francisco).fit()
anova_table9 = sm.stats.anova_lm(model9, typ=2)
print("\nSan Francisco - Example 9 ANOVA Table (Service and Ambience on Value):")
print(anova_table9)

San Francisco - Example 9 ANOVA Table (Service and Ambience on Value):
                sum_sq     df          F        PR(>F)
C(service)   37.057648   22.0  14.914020  2.349390e-46
C(ambience)  29.542486   22.0  11.889508  1.798093e-36
Residual     91.597012  811.0        NaN           NaN

In [45]:
# Example 10: ANOVA for Service and Ambience on Number of Reviews
model10 = ols('number_of_reviews ~ C(service) + C(ambience)', data=df_san_francisco).fit()
anova_table10 = sm.stats.anova_lm(model10, typ=2)
print("\nSan Francisco - Example 10 ANOVA Table (Service and Ambience on Number of Reviews):")
print(anova_table10)

San Francisco - Example 10 ANOVA Table (Service and Ambience on Number of Reviews):
                   sum_sq     df         F    PR(>F)
C(service)   6.103860e+07   22.0  1.245621  0.200731
C(ambience)  1.552839e+08   22.0  3.168896  0.000002
Residual     1.806412e+09  811.0       NaN       NaN