In [39]:
import pandas as pd
# Read the CSV file
df = pd.read_csv('~/desktop/Project_7/San Francisco.csv')

# Print column names and their data types
print("Column Names and Data Types:")
print(df.dtypes)

Column Names and Data Types:
url                   object
rest_name             object
number_of_reviews      int64
rating               float64
food_type             object
coupon                object
food                 float64
service              float64
ambience             float64
value                float64
about_rest            object
comments              object
image_url             object
City                  object
dtype: object

In [40]:
# Check for empty cells
empty_cells = df.isna().sum()

# Print the number of empty cells for each column
print("Number of Empty Cells in Each Column:")
print(empty_cells)

Number of Empty Cells in Each Column:
url                  0
rest_name            0
number_of_reviews    0
rating               0
food_type            0
coupon               0
food                 0
service              0
ambience             0
value                0
about_rest           0
comments             0
image_url            0
City                 0
dtype: int64

In [41]:
def is_whitespace_or_empty(x):
    return isinstance(x, str) and (x.strip() == '' or x != x.strip())
df.map(is_whitespace_or_empty).sum()

url                  0
rest_name            0
number_of_reviews    0
rating               0
food_type            0
coupon               0
food                 0
service              0
ambience             0
value                0
about_rest           0
comments             0
image_url            0
City                 0
dtype: int64

In [42]:
# Strip leading/trailing whitespace from all entries in the 'comments' column
df['comments'] = df['comments'].apply(lambda x: x.strip() if isinstance(x, str) else x)

# Verify if the cleaning was successful
df['comments'].map(is_whitespace_or_empty).sum()

np.int64(0)

In [43]:
# Strip leading/trailing whitespace from all entries in the 'about' column
df['about_rest'] = df['about_rest'].apply(lambda x: x.strip() if isinstance(x, str) else x)

# Verify if the cleaning was successful
df['about_rest'].map(is_whitespace_or_empty).sum()

np.int64(0)

In [44]:
df.map(is_whitespace_or_empty).sum()

url                  0
rest_name            0
number_of_reviews    0
rating               0
food_type            0
coupon               0
food                 0
service              0
ambience             0
value                0
about_rest           0
comments             0
image_url            0
City                 0
dtype: int64

In [47]:
df['rest_name'].is_unique

True

In [48]:
duplicates = df['rest_name'][df['rest_name'].duplicated()].unique()
print("Non-unique restaurant names:")
print(duplicates)

Non-unique restaurant names:
[]

In [49]:
df = df.drop_duplicates(subset=['rest_name'], keep='first')

In [50]:
df

,url,rest_name,number_of_reviews,rating,food_type,coupon,food,service,ambience,value,about_rest,comments,image_url,City
0,https://www.opentable.com/r/china-live-san-fra...,China Live,3135,4.7,Chinese,$30 and under,4.7,4.6,4.6,4.3,"China Live, Eater's ""Restaurant of the Year,"" ...","Fantastic food, drinks, and service! Will defi...",https://resizer.otstatic.com/v2/photos/xlarge/...,San Francisco
1,https://www.opentable.com/r/bardo-lounge-and-s...,Bardo Lounge & Supper Club,464,4.9,Contemporary American,$31 to $50,4.7,4.8,4.8,4.4,Recommended in the MICHELIN Guide for Californ...,Read more Caeser salad was unique and deliciou...,https://resizer.otstatic.com/v2/photos/xlarge/...,San Francisco
2,https://www.opentable.com/r/stk-san-francisco?...,STK - San Francisco,1178,4.0,Steakhouse,$50 and over,4.0,4.0,4.2,3.5,STK Steakhouse is “not your daddy’s steakhouse...,Read more Overpriced. Pay close attention when...,https://resizer.otstatic.com/v2/photos/xlarge/...,San Francisco
3,https://www.opentable.com/r/waterbar-san-franc...,Waterbar,10819,4.6,Seafood,$31 to $50,4.5,4.6,4.7,4.1,Waterbar is a seafood-centric restaurant locat...,Read more Had a lovely lunch at one of our fav...,https://resizer.otstatic.com/v2/photos/xlarge/...,San Francisco
4,https://www.opentable.com/yoshis-oakland?corri...,Yoshi's Oakland,8163,4.7,Japanese,$30 and under,4.6,4.7,4.6,4.3,Yoshi's has served Japan's best traditional di...,Read more I love coming to see artist at this ...,https://resizer.otstatic.com/v2/photos/xlarge/...,San Francisco
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,https://www.opentable.com/r/per-diem-transit-c...,Per Diem - Transit Center,67,4.7,Californian,$30 and under,4.7,4.5,4.5,4.3,The newest addition of Per Diem in San Francis...,Read more Booked this restaurant for my execut...,https://resizer.otstatic.com/v2/photos/xlarge/...,San Francisco
754,https://www.opentable.com/r/teakwood-san-franc...,Teakwood,220,4.6,Burmese,$30 and under,4.6,4.6,4.6,4.2,NOW OPEN!\nBringing the vibrance of Burmese cu...,Always wonderful food and service. Nice atmosp...,https://resizer.otstatic.com/v2/photos/xlarge/...,San Francisco
755,https://www.opentable.com/sasa?corrid=dca48473...,Sasa,2203,4.7,Japanese,$31 to $50,4.7,4.6,4.6,4.1,Sasa is a Japanese inspired restaurant in Waln...,Read more Excellent experience and would defin...,https://resizer.otstatic.com/v2/photos/xlarge/...,San Francisco
756,https://www.opentable.com/r/bull-valley-roadho...,Bull Valley Roadhouse,2882,4.7,American,$50 and over,4.6,4.7,4.7,4.2,Old Country Road meets Bay Area Farmer's Marke...,Read more The restaurant and ambiance is super...,https://resizer.otstatic.com/v2/photos/xlarge/...,San Francisco
757,https://www.opentable.com/r/jaks-authentic-ind...,Jaks Authentic Indian & Modern Vibe,2,4.5,Indian,$30 and under,4.5,4.6,4.2,4.0,Nestled in Santa Clara's Market Place District...,Read more Outstanding meal. The sharable plate...,https://resizer.otstatic.com/v2/photos/xlarge/...,San Francisco

In [51]:


# Replace specific unwanted values with NaN
df = df.replace({
    'number_of_reviews': {'No': np.nan},
    'rating': {'Rating not found': np.nan},
    'food': {'Food not found': np.nan},
    'service': {'Service not found': np.nan},
    'ambience': {'Ambience not found': np.nan},
    'value': {'Value not found': np.nan}
})

# Check for non-numeric values before converting
# This is optional, just for debugging
print(df['number_of_reviews'].unique())

# Convert the columns to float, handle errors
df['number_of_reviews'] = pd.to_numeric(df['number_of_reviews'], errors='coerce')
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
df['food'] = pd.to_numeric(df['food'], errors='coerce')
df['service'] = pd.to_numeric(df['service'], errors='coerce')
df['ambience'] = pd.to_numeric(df['ambience'], errors='coerce')
df['value'] = pd.to_numeric(df['value'], errors='coerce')

# Fill NaN values with 0
df = df.fillna(0)

# Convert types as required
df = df.astype({
    'number_of_reviews': 'int',
    'rating': 'float',
    'food': 'float',
    'service': 'float',
    'ambience': 'float',
    'value': 'float'
})

NameError: name 'np' is not defined

In [52]:
df.dtypes

url                   object
rest_name             object
number_of_reviews      int64
rating               float64
food_type             object
coupon                object
food                 float64
service              float64
ambience             float64
value                float64
about_rest            object
comments              object
image_url             object
City                  object
dtype: object

In [53]:
print(df['number_of_reviews'].dtype)

int64

In [54]:
# Remove rows where 'rating' is 0
df = df[df['rating'] != 0]

In [55]:
print(df.dtypes)

url                   object
rest_name             object
number_of_reviews      int64
rating               float64
food_type             object
coupon                object
food                 float64
service              float64
ambience             float64
value                float64
about_rest            object
comments              object
image_url             object
City                  object
dtype: object

In [56]:
# Save the cleaned dataset
df.to_csv('San Francisco.csv', index=False)