In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('USA_CITY_NAME.csv')

# Print column names and their data types
print("Column Names and Data Types:")
print(df.dtypes)

Column Names and Data Types:
url                  object
rest_name            object
number_of_reviews    object
rating               object
food_type            object
coupon               object
food                 object
service              object
ambience             object
value                object
about_rest           object
comments             object
image_url            object
dtype: object

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('USA_CITY_NAME.csv')

# Check for empty cells
empty_cells = df.isna().sum()

# Print the number of empty cells for each column
print("Number of Empty Cells in Each Column:")
print(empty_cells)

Number of Empty Cells in Each Column:
url                  0
rest_name            0
number_of_reviews    0
rating               0
food_type            0
coupon               0
food                 0
service              0
ambience             0
value                0
about_rest           0
comments             0
image_url            0
dtype: int64

In [ ]:
def is_whitespace_or_empty(x):
    return isinstance(x, str) and (x.strip() == '' or x != x.strip())
df.map(is_whitespace_or_empty).sum()

url                  0
rest_name            0
number_of_reviews    0
rating               0
food_type            0
coupon               0
food                 0
service              0
ambience             0
value                0
about_rest           0
comments             0
image_url            0
dtype: int64

In [ ]:
# Strip leading/trailing whitespace from all entries in the 'comments' column
df['comments'] = df['comments'].apply(lambda x: x.strip() if isinstance(x, str) else x)

# Verify if the cleaning was successful
df['comments'].map(is_whitespace_or_empty).sum()

np.int64(0)

In [ ]:
# Strip leading/trailing whitespace from all entries in the 'about' column
df['about_rest'] = df['about_rest'].apply(lambda x: x.strip() if isinstance(x, str) else x)

# Verify if the cleaning was successful
df['about_rest'].map(is_whitespace_or_empty).sum()

np.int64(0)

In [ ]:
df.map(is_whitespace_or_empty).sum()

url                  0
rest_name            0
number_of_reviews    0
rating               0
food_type            0
coupon               0
food                 0
service              0
ambience             0
value                0
about_rest           0
comments             0
image_url            0
dtype: int64

In [ ]:
df['rest_name'].is_unique

False

In [ ]:
df.dtypes

url                  object
rest_name            object
number_of_reviews    object
rating               object
food_type            object
coupon               object
food                 object
service              object
ambience             object
value                object
about_rest           object
comments             object
image_url            object
dtype: object

In [ ]:
df['number_of_reviews'] = df['number_of_reviews'].str.split().str[0]

In [ ]:
print(df['number_of_reviews'].unique())

['22' '1203' '1738' '179' '1240' '1236' '677' '6286' '4024' '4625' '165'
 '4005' '7782' '2854' '903' '3177' '4896' '753' '2267' '1123' '3272' '16'
 '951' '6791' '82' '1518' '174' '842' '8639' '137' '1714' 'No' '5890' '72'
 '1555' '1568' '1018' '2976' '5507' '19' '940' '6858' '1347' '20' '808'
 '1017' '6269' '354' '5031' '1951' '267' '131' '832' '214' '2709' '3236'
 '175' '2418' '108' '693' '3779' '7' '11843' '2795' '471' '54' '4493'
 '1229' '809' '2585' '1011' '2426' '2121' '5955' '5737' '2821' '5284'
 '5974' '67' '225' '91' '85' '7381' '2626' '2341' '5608' '1391' '185'
 '248' '548' '89' '3184' '25' '408' '1290' '1378' '7522' '569' '191'
 '1079' '254' '224' '330' '2596' '142' '10832' '2102' '164' '1107' '5873'
 '3757' '358' '678' '751' '3' '169' '102' '15' '9195' '627' '128' '375'
 '21' '5912' '5314' '9' '323' '2' '245' '95' '515' '2530' '419' '1941'
 '2106' '10' '6' '217' '915' '86' '81' '305' '18' '24' '4859' '167' '795'
 '58' '31' '53' '14' '4731' '1309' '959' '35' '2062' '1662' '66' '8' '155'
 '4538' '71' '1520' '4603' '204' '836' '1439' '242' '60' '59' '17' '1517'
 '610' '222' '1002' '2606' '1' '1504' '4' '218' '140' '27' '706' '765'
 '43' '227' '40' '149' '538' '391' '5' '117' '168' '190' '32' '107' '489'
 '12' '73' '343' '13' '262' '425' '34' '38' '1056' '775' '6275' '3900'
 '327' '1152' '322' '848' '299' '116' '723' '636' '703' '1060' '739' '173'
 '1066' '602' '51' '895' '748' '11' '30' '62' '2494' '363' '156' '4755'
 '26' '183' '1362' '158' '4192' '122' '2220' '47' '276' '787' '277' '45'
 '64' '442' '230' '948' '362' '1495' '1262' '2554' '2370' '268' '512'
 '695' '2210' '310' '1705' '334' '296' '520' '77' '8778' '1220' '6956'
 '2419' '780' '263' '2549' '331' '653' '48' '2411' '303' '182' '1461'
 '638' '237' '746' '598' '2660']

In [ ]:
df

,url,rest_name,number_of_reviews,rating,food_type,coupon,food,service,ambience,value,about_rest,comments,image_url
0,https://www.opentable.com/r/tao-asian-bistro-l...,TAO Asian Bistro - Los Angeles,4042,4.7,Asian,$31 to $50,4.7,4.6,4.8,4.3,"TAO Los Angeles is a dynamic two-level space, ...",Awesome atmosphere and fun good food. Service...,https://resizer.otstatic.com/v2/photos/xlarge/...
1,https://www.opentable.com/r/mrs-fish-los-angel...,Mrs. Fish,1613,4.5,Japanese,$31 to $50,4.4,4.4,4.6,4.2,A truly unique dining and cocktail experience ...,Read more Unique and delectable- decor and jaz...,https://resizer.otstatic.com/v2/photos/xlarge/...
2,https://www.opentable.com/takami-sushi-and-rob...,Takami Sushi & Robata Restaurant,3489,4.5,Japanese,$31 to $50,4.4,4.5,4.7,4.2,The Takami Sushi & Robata restaurant is the on...,Read more Fantastic View and fantastic food an...,https://resizer.otstatic.com/v2/photos/xlarge/...
3,https://www.opentable.com/r/tao-asian-bistro-l...,TAO Asian Bistro - Los Angeles,4042,4.7,Asian,$31 to $50,4.7,4.6,4.8,4.3,"TAO Los Angeles is a dynamic two-level space, ...",Awesome atmosphere and fun good food. Service...,https://resizer.otstatic.com/v2/photos/xlarge/...
4,https://www.opentable.com/r/bacari-silver-lake...,Bacari Silverlake,3905,4.7,Italian,$31 to $50,4.7,4.6,4.8,4.5,Bacari Silverlake is a Venetian-inspired small...,"Read more Estupenda la noche, platillo riquísi...",https://resizer.otstatic.com/v2/photos/xlarge/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,https://www.opentable.com/r/abeautifullife-jam...,(abeautifullife) Jamaican Kitchen,356,4.3,Jamaican,$30 and under,4.3,4.3,4.3,4.1,(abeautifullife) Jamaican was founded in 2013....,Read more The food was amazing. Our server dia...,https://resizer.otstatic.com/v2/photos/xlarge/...
202,https://www.opentable.com/r/buca-di-beppo-univ...,Buca di Beppo - Universal City,869,4.1,Italian,$30 and under,4.1,4.2,4,3.9,When you're in the mood for amazing Italian fo...,Read more In 2009 Bucca was a special place to...,https://resizer.otstatic.com/v2/photos/xlarge/...
203,https://www.opentable.com/r/h-and-h-brazilian-...,H&H Brazilian Steakhouse - Beverly Hills,14,4.4,Brazilian Steakhouse,$30 and under,4.3,4.2,4.5,4.1,The Number #1 Brazilian Steakhouse in Los Ange...,Read more Excellent!!! We had a great time and...,https://resizer.otstatic.com/v2/photos/xlarge/...
204,https://www.opentable.com/r/del-friscos-double...,Del Frisco’s Double Eagle Steakhouse – Beverly...,1325,4.5,Steakhouse,$50 and over,4.5,4.5,4.5,4.1,"Indulge in hand-cut steaks, fresh seafood, and...",Read more The restaurant was very nice. Not t...,https://resizer.otstatic.com/v2/photos/xlarge/...
205,https://www.opentable.com/r/terra-e-mare-studi...,Terra E Mare,526,4.7,Contemporary Italian,$31 to $50,4.7,4.8,4.5,4.3,Terra e Mare features traditional and contempo...,"Great tasting food, friendly, prompt service. ...",https://resizer.otstatic.com/v2/photos/xlarge/...

In [ ]:
import numpy as np

df = df.replace({
    'number_of_reviews': {'No': np.nan},
    'rating': {'Rating not found': np.nan},
    'food': {'Food not found': np.nan},
    'service': {'Service not found': np.nan},
    'ambience': {'Ambience not found': np.nan},
    'value': {'Value not found': np.nan}
}).astype({
    'number_of_reviews': 'float',
    'rating': 'float',
    'food': 'float',
    'service': 'float',
    'ambience': 'float',
    'value': 'float'
}).fillna(0).astype({
    'number_of_reviews': 'int',
    'rating': 'float',
    'food': 'float',
    'service': 'float',
    'ambience': 'float',
    'value': 'float'
})

ValueError: could not convert string to float: 'Reviews': Error while type casting for column 'number_of_reviews'

In [ ]:
df.dtypes

url                   object
rest_name             object
number_of_reviews      int64
rating               float64
food_type             object
coupon                object
food                 float64
service              float64
ambience             float64
value                float64
about_rest            object
comments              object
image_url             object
dtype: object

In [ ]:
import numpy as np
import pandas as pd

# Assuming df is your DataFrame

# Replace specific unwanted values with NaN
df = df.replace({
    'number_of_reviews': {'No': np.nan},
    'rating': {'Rating not found': np.nan},
    'food': {'Food not found': np.nan},
    'service': {'Service not found': np.nan},
    'ambience': {'Ambience not found': np.nan},
    'value': {'Value not found': np.nan}
})

# Check for non-numeric values before converting
# This is optional, just for debugging
print(df['number_of_reviews'].unique())

# Convert the columns to float, handle errors
df['number_of_reviews'] = pd.to_numeric(df['number_of_reviews'], errors='coerce')
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
df['food'] = pd.to_numeric(df['food'], errors='coerce')
df['service'] = pd.to_numeric(df['service'], errors='coerce')
df['ambience'] = pd.to_numeric(df['ambience'], errors='coerce')
df['value'] = pd.to_numeric(df['value'], errors='coerce')

# Fill NaN values with 0
df = df.fillna(0)

# Convert types as required
df = df.astype({
    'number_of_reviews': 'int',
    'rating': 'float',
    'food': 'float',
    'service': 'float',
    'ambience': 'float',
    'value': 'float'
})

['22' '1203' '1738' '179' '1240' '1236' '677' '6286' '4024' '4625' '165'
 '4005' '7782' '2854' '903' '3177' '4896' '753' '2267' '1123' '3272' '16'
 '951' '6791' '82' '1518' '174' '842' '8639' '137' '1714' nan '5890' '72'
 '1555' '1568' '1018' '2976' '5507' '19' '940' '6858' '1347' '20' '808'
 '1017' '6269' '354' '5031' '1951' '267' '131' '832' '214' '2709' '3236'
 '175' '2418' '108' '693' '3779' '7' '11843' '2795' '471' '54' '4493'
 '1229' '809' '2585' '1011' '2426' '2121' '5955' '5737' '2821' '5284'
 '5974' '67' '225' '91' '85' '7381' '2626' '2341' '5608' '1391' '185'
 '248' '548' '89' '3184' '25' '408' '1290' '1378' '7522' '569' '191'
 '1079' '254' '224' '330' '2596' '142' '10832' '2102' '164' '1107' '5873'
 '3757' '358' '678' '751' '3' '169' '102' '15' '9195' '627' '128' '375'
 '21' '5912' '5314' '9' '323' '2' '245' '95' '515' '2530' '419' '1941'
 '2106' '10' '6' '217' '915' '86' '81' '305' '18' '24' '4859' '167' '795'
 '58' '31' '53' '14' '4731' '1309' '959' '35' '2062' '1662' '66' '8' '155'
 '4538' '71' '1520' '4603' '204' '836' '1439' '242' '60' '59' '17' '1517'
 '610' '222' '1002' '2606' '1' '1504' '4' '218' '140' '27' '706' '765'
 '43' '227' '40' '149' '538' '391' '5' '117' '168' '190' '32' '107' '489'
 '12' '73' '343' '13' '262' '425' '34' '38' '1056' '775' '6275' '3900'
 '327' '1152' '322' '848' '299' '116' '723' '636' '703' '1060' '739' '173'
 '1066' '602' '51' '895' '748' '11' '30' '62' '2494' '363' '156' '4755'
 '26' '183' '1362' '158' '4192' '122' '2220' '47' '276' '787' '277' '45'
 '64' '442' '230' '948' '362' '1495' '1262' '2554' '2370' '268' '512'
 '695' '2210' '310' '1705' '334' '296' '520' '77' '8778' '1220' '6956'
 '2419' '780' '263' '2549' '331' '653' '48' '2411' '303' '182' '1461'
 '638' '237' '746' '598' '2660']

In [ ]:
print(df['number_of_reviews'].dtype)

In [ ]:
# Save the cleaned dataset
df.to_csv('USA_CITY_NMAE.csv', index=False)